@font-face {
  font-family: 'MyFont';
  src: url('./Hum521l.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: blue;
  background-image: url('./edit.png');
  font-family: 'MyFont';
}
